<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <script>
            window.expressConfig = {protocol: '<%= protocol %>', hostname: '<%= hostname %>', baseUrl: '<%= baseUrl %>'};
        </script>
        <script src="/dist/<%= assets.js %>" type="application/javascript"></script>
    </body>
</html>
