# Top-most EditorConfig file
root = true

# Set default charset with unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# PHP PSR2 overrides
[*.php]
indent_style = space
indent_size = 4

# JS overrides
[*.js]
indent_style = space
indent_size = 4

# SCSS and JSON overrides
[*.{scss,json}]
indent_style = space
indent_size = 2
