# PhpStorm
.idea

# General files
*~
*.DS_STORE

# Js & css build files
dist/

# Dependency managers
node_modules/
npm-debug.log

# App
csgo-rcon.json
*.log
config.json
app/src/config/version/version.txt

# Tests
coverage/
.nyc_output/
