// Visibility
.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
