.footer {
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;

  display: flex;
  align-items: center;
}

.footer .dropup {
  margin-left: auto;
}

.footer .dropdown-item {
  cursor: pointer;
}
