// animations

// easings
$global-easing: cubic-bezier(0.850, 0.210, 0.165, 0.780);
$elastic-easing: cubic-bezier(0.785, -0.565, 0.245, 1.640);
$elastic-out: cubic-bezier(0.240, 1.650, 0.425, 0.920);
$elastic-in: cubic-bezier(0.375, 0.110, 0.725, -0.600);
