.navbar {
  background: #222222;
  margin-bottom: 20px;
}

.nav-item::after {
  content: '';
  display: flex;
  width: 0px;
  height: 2px;
  background: #fec400;
  transition: 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fec400;
}

.nav-link {
  padding: 15px 5px;
  transition: 0.2s;
}

.dropdown-item.active, .dropdown-item:active {
  color: #212529;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: #fec400;
}
